<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/109275/pexels-photo-109275.jpeg');">
  <div class="card-description">

    <h1><%= cocktail.name %></h1>

  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
