<h1 class="text-center">Cocktails</h1>
<div class="container">
  <div class="row">

  <% @cocktails.each do |c| %>

    <div class="col-xs-12 col-md-4 col-med-offset-3">
      <%= render "cocktail", cocktail: c %>
    </div>
  <% end %>
  </div>
</div>

